.heroBanner{
    background-color: light;
}
.nav-item{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
}

.nav-links{
    margin-right:30px;
}

.nav-links:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(150,168,175,0.2); 
} 

.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
}

.githubNav, .linkedinNav{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 20px;
}

@media (max-width: 768px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .logo{
        width:70px;
        height:70px;
    }
    
    .githubNav, .linkedinNav{
        width:20px;
        height:20px
    }

    .nav-item{
        text-align: center;
    }
}

@media (max-width: 480px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
.githubNav, .linkedinNav{
    display: none;
}

.logo{
    width: 80px;
    height:80px;
}

.menuDropdown{
margin-left: 60px;
}

.projectsTitle{
    padding-top: 0;
}
}

