@import url('https://fonts.google.com/specimen/Righteous');


.heroPicture{
    width:26rem;
    height:25rem;
    margin-top: 60px;
    margin-left:60px;
    position: relative;
    left: 50px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0;
}

.heroInfo{
    margin-top: 30px;
}

.name, .headerSubheading, .phrase{
    font-family: 'Righteous';
}

.name{
    font-size: 80px;
    font-weight:400;
    margin-top: 30px;
}

.headerSubheading{
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.phrase{
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 50px;

}

.heroBanner{
    margin-bottom:30px;
    padding-bottom:90px;
}

.heroInfo{
    z-index : 999;
}

.example{
    position:absolute !important;
}

.AboutmeBtn{
    background-color:  #c68f73;
    border: 1px #c68f73 solid;;
}

@media (max-width: 768px){
    .projectsAll, .aboutContent{
        background-color: rgba(150, 168, 175, 0.5);
    }
    .heroPicture{
        position: relative;
        top: 50px;
        left: 10px;
        width: 18rem;
        height: 18rem;
    }
}


@media (max-width: 480px){
    .projectsAll, .aboutContent {
        background-color: rgba(150, 168, 175, 0.5);
    }
    .heroPicture{
        width:15rem;
        height:14rem;
        position: relative;
        left: 5px;
    }
    .name, .headerSubheading, .phrase{
        text-align: center;
    }

    .name, .phrase{
        margin-right: 30px;
    }
}