.projects {
    background-color: rgba(150, 168, 175, 0.5);
}


.bigcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.projectsTitle {
    text-align: center;
    padding-top: 30px;

}

.projectsTitle h1 {
    font-family: 'Rightous';
    margin-top: 20px;
}

.card-title {
    margin-bottom: 10px;
}

.thingsUsed {
    font-size: 20px;
    position: relative;
    top: 18px;
    left: 30px;
    padding-top: 10px;
    font-family: 'Rightous';
    font-weight: 500;
}

.describeUsed {
    font-size: 15px;
}

.iconsUsed {
    width: 2rem;
    height: 2em;
    position: relative;
    right: 10px;
    bottom: 20px;
}

.infoAndPicture {
    background-color: rgba(150, 168, 175, 0.5);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.deployedURL {
    margin-right: 60px;
    background-color: #c68f73;
    border: 1px #c68f73 solid;
}

.githubUrl {
    background-color: #c68f73;
    border: 1px #c68f73 solid;
}

.projectButtons {
    padding-left: 30px;
}

.projectTitle{
    text-align: center;
    font-weight: 600;
}

@media (max-width: 768px){
    .bigcard{
        padding-left: 60px;
    }
}

@media (max-width: 480px) {

    .rigthSideCard,
    .thingsUsed,
    .iconsUsed,
    .describeUsed {
        display: none;
    }

   .infoAndPicture{
    width: 82vw !important;
    padding-bottom: 5px ;
}


   .projectButtons{
    display: flex;
    flex-direction: row;
    padding-left: 0;    
   }

   .projectContent{
    margin-bottom: 20px;
   }

   .projectsTitle p{
    margin: 10px;
   }

  .projectDescription { 
    font-size: 15px;
   }

   .bigcard{
    padding-left: 20px;
   }

}